body {
  background-color: #b2bec3;
}
.signup_container {
  width: 100%;
  height: 2%;
  background-color: #b2bec3;
  padding-left: 350px;
  /* background-image: url("../Images/neonbg.jpg"); */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.signup_form_container {
  width: 1300px;
  height: 700px;
  padding-top: -60px;
  background-color: #fff;
  position: relative;
  /* display: flex; */
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.stepper {
  padding: spacing(3, 1, 5);
}
.buttons {
  /* display: flex; */
  margin-left: 79.5%;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}
.button {
  /* display: flex; */
  font-size: 50px;
  /* justify-content: flex-end; */
  display: inline-block;
}
.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: #39e922;
  color: white;
}

.right {
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
}

.heading {
  margin-left: 45%;
  font-size: 30px;
  font-family: "Lucida Handwriting", cursive;
  color: #3e8e41;
}
