.signup_container {
  width: 100%;
  height: 1;
  background-color: #f5f5f5;
  /* background-image: url("../../Layout/Images/agriculturebg.jpg"); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form_container {
  width: 1200px;
  height: 550px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #4282a3; */
  background-image: url("./paymentImg.png");
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* background-position: left; */
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border-width: 100%;
  font-family: "Times New Roman";
}

.left h4 {
  margin-top: 0;
  color: white;
  font-size: 20px;
  align-self: center;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  align-items: center;
  margin-top: -5px;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}

.input {
  outline: none;
  border: 1px solid #151b54;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.white_btn,
.blue_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 370px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.blue_btn {
  background-color: #414bb2;
  color: white;
  margin: 10px;
}

.blue_btn:hover {
  background-color: #00b894;
}

.blue_btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.white_btn:hover {
  background-color: #3bb19b;
}

.white_btn:active {
  background-color: #3bb19b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.paymentStyles {
  font-family: "Times New Roman", cursive;
  padding-top: 200px;
  font-size: 50px;
  color: #303681ef;
}

.paymentHeadingStyle {
  font-family: "Lucida Handwriting", cursive;
  padding-top: 150px;
  font-size: 80px;
  color: #3e8e41;
}

.blue_horizontal {
  display: flex;
  flex-direction: row;
}
