* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 200vh;
  padding-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0px 100px;
  z-index: 10000;
  background: #084818;
}

header.sticky {
  padding: 5px 100px;
  background: #b2bec3;
  /* background: url("../../Layout/Images/agriculturebg.jpg") no-repeat center
    center fixed; */
}
header logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
}

.zoomCart:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.zoomBadge:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

/* .navItems {} */

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 15px;
  color: #06283D;
  background-color: cornsilk;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.navUserButton {
  margin-left: 20px;
  border: none;
  padding: 5px 15px;
  color: #06283D;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
