.signup_container {
  /* width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 1;
  background-color: #f5f5f5; */
  /* background-image: url("../Images/neonbg.jpg"); */

  /* align-items: center;
  justify-content: center; */
}

.signup_form_container {
  width: 1200px;
  height: 550px;
  margin-left: 350px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
/*---------cart items-------*/
/* .cart-page {
  margin: 100px 0;
} */
.cartHeader {
  /* display: flex;
  flex-direction: row; */
}
.search {
  /* background-color: #8ed766;
  width: 500em;
  text-align: center;
  line-height: 75px;
  font-size: 30px; */
}
input[type="text"] {
  /* width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; */
}
input[type="text"]:focus {
  /* width: 100%; */
}

table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: px;
  color: #fff;
  background: #179717;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #179717;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
