.lock {
    background-color: green;
}

.btnSignin {
    background-color: gray;
}

.btnSignin:hover {
    background-color: darkgreen;
}

.gridContainer {
    justify-content: right;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    margin: 100px;
}