body {
  background-color: #b2bec3;
}
.signup_container {
  width: 100%;
  height: 2%;
  background-color: #b2bec3;
  padding-left: 350px;
  /* background-image: url("../Images/neonbg.jpg"); */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.signup_form_container {
  width: 1200px;
  height: 550px;
  padding-top: -50px;
  background-color: #b2bec3;
  position: relative;
  /* display: flex; */
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.stepper {
  padding: spacing(3, 1, 5);
}
.buttons {
  display: flex;
}
.button {
  display: flex;
  font-size: 50px;
  justify-content: flex-end;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5916c4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
